{% extends "layout/default.html.twig" %}
{% block titre %}Liste contacts
{% endblock %}

{% block content %}

	
	<li class="list-group-item mt-5">Liste contacts</li> 
		{% for contact in contacts %}
		<ul class="list-group mt-4">
					{# <li class="list-group-item list-group-item-primary">{{contact.nom}}</li> #}
					<a href="contact/{{contact.id}}"><li class="list-group-item list-group-item-warning">{{contact.prenom}}</li></a>
					{# <li class="list-group-item list-group-item-info">{{contact.email}}</li>
					<li class="list-group-item list-group-item-danger">{{contact.message}}</li> #}
					<br>
				</ul>
	 {% endfor %}

{% endblock %}
